.dashboard-antispam {
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-family: 'Inter';
	color: #fff;
	background-color: #282c34;

    main {
		margin-top: 10vh;
		margin-bottom: 15vh;

		padding: 20px;
		width: 75vw;
		background-color: #21252b;
		border-radius: 10px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

		.title {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 20px;

			p {
				margin: 0 0 0 10px;
				padding: 0;
			}
		}

		.return-button {
			&:hover {
				cursor: pointer;
			}
		}

		input {
			color: white;
			padding: 3px;
			border-radius: 5px;
			background-color: #1d2126;
			border: 2px solid #1d2126;
			transition: all 0.2s ease-in-out;
			width: 80%;

			&:focus {
				outline: none;
				border: 2px solid #009af8;
			}

			&:disabled {
				color: rgb(179, 179, 179);
			}
		}
	}
}

// Mobile View
@media screen and (max-width: 768px) {
	.dashboard-antispam {
		main {
			width: 90vw;
			box-shadow: none !important;

			.right-container {
				margin-top: 30px;
			}
		}
	}
}