.dashboard-general {
    font-family: "Inter";
    background-color: #282c34;
    color: #fff;

    main {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        padding: 20px;
        width: 75vw;
        background-color: #21252b;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

        .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 20px;

            p {
                margin: 0 0 0 10px;
                padding: 0;
            }
        }

        .return-button {
            &:hover {
                cursor: pointer;
            }
        }

        input {
            color: white;
            padding: 3px;
            border-radius: 5px;
            background-color: #1d2126;
            border: 2px solid #1d2126;
            transition: all 0.2s ease-in-out;
            width: 60%;

            &:focus {
                outline: none;
                border: 2px solid #009af8;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dashboard-general {
        main {
            top: 20%;
            width: 100vw;
            background-color: #282c34 !important;
            box-shadow: none !important;
        }
    }
}
