// Desktop View
.server-page {
	::-webkit-scrollbar {
		width: 20px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		border-radius: 0px;
	}

	font-family: 'Inter', sans-serif;
	background-color: #282c34;

	p {
		color: white;

		a {
			color: #01a2e8;
			text-decoration: none;
		}
	}
}

.particles {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.space {
	margin-bottom: 60px;
	height: 60px;
}

.footer {
	color: white;
	z-index: 10;

	a {
		color: #01a2e8;
		text-decoration: none;
	}
}

.server-list {
	text-align: center;
	margin-top: 5%;
	// margin: none;
	margin-left: 0px;
	justify-content: center;
	padding: 20px;

	div {
		background-color: #21252bcc;
		transition: all 0.2s ease-in-out;
		justify-content: center;
		margin: 20px;
		position: relative;
		border-radius: 10px;
		padding: 20px;
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		border: 2px solid #21252b;

		&:hover {
			border-color: #00a2e8;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);

			cursor: pointer;
			transform: scale(1.05);

			img {
				filter: grayscale(0);
			}
		}
	}

	button {
		border: 0;
		background: linear-gradient(to right, #00a2e8, #01a2e7);
		margin-top: 60px;
	}

	h2 {
		color: white;
		height: 0;
		padding-top: 10px;
		overflow: visible;
		font-size: 20px;
	}

	img {
		box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		filter: grayscale(50%);
		transition: all 0.2s ease-in-out;
		min-width: 130px;
		max-width: 130px;
	}
}
