.save-footer {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);

    background-color: #21252b;
    padding: 10px;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0 15px 0 0;
        padding: 0;
    }

    button {
        margin-left: 10px;
        color: white;
        padding: 3px 20px 3px 20px;
        border-radius: 5px;
        border: none;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }
    }

    .save-button {
        background-color: #3ba55d;
    }

    .reset-button {
        background-color: #ff5252;
    }
}
