.main-page {
	.particles {
		position: sticky;
		z-index: 0;
	}

	main {
		.title {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin-bottom: 1rem;
			margin-top: 200px;
			z-index: 20;
			position: sticky;

			.titleText {
				margin-top: 100px;
			}
		}

		.showcase {
			width: 100%;
			text-align: center;

			.showcase-card {
				margin-top: 60px;
				display: flex;
				align-items: center;

				z-index: 20;
				position: sticky;

				img {
					max-width: 700px;
					z-index: 20;
					position: sticky;
					transition: 0.3s ease-in-out;

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}

.footer {
	margin-top: 150px;
	text-align: center;
	margin-bottom: 50px;
	background-color: #21252b;
	padding: 10px;
	border-radius: 10px;

	z-index: 20;
	position: sticky;

	a {
		color: white;
		text-decoration: none;
		font-size: 1.2rem;
		margin-top: 20px;
	}
}

// For screens smaller than 740
@media screen and (max-width: 740px) {
	.main-page {
		main {
			.title {
				text-align: center;
				margin-top: 100px;

				.titleText {
					text-align: left;
					margin-top: 0px;
				}

				img {
					max-width: 90vw !important;
				}
			}

			.showcase-card {
				img {
					max-width: 70vw !important;
					min-width: 30vw !important;
				}
			}
		}
	}
}
